<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE THINGAMAJIG</title>
</head>
<body>
    <h1>How many numbers do YOU WANT????😛</h1>
    <form action="/get" method="GET">
        <input type="input" id="number" name="number" placeholder="Type a number between 1-30">
        <input type="submit" value="GENERATE♻️">
    </form>
    <p th:if="${errorMessage != null}" style="color: red;">
        [[${errorMessage}]]
    </p>
</body>
</html>